body {
    margin: 0;
    background-color: $white;
    font-family: Arial;
}
.main-container {
    height: 768px;
    background-color: $white;
    @include respond-to($breakpoint-small) {
    }
}
html {
    scroll-snap-type: y mandatory;
}
.select-product {
    right: 33px;
    top: 358px;
    position: absolute;
    opacity: 1;
    @include respond-to($breakpoint-small) {
        top: 882px;
        right: 4%;
        width: 10px;
    }
}
.select-radioButton {
    cursor: pointer;
}
input[type='radio'] {
    width: 10px;
    height: 10px;
}
