// $breakpoint-large      : 1500 !default;
// $breakpoint-medium-landscape : 1100 !default;
// $breakpoint-medium     : 910 !default;
// $breakpoint-small      : 680 !default;
// $breakpoint-tiny       : 450 !default;
$base-font: 19 !default;
$size-h1: 59 !default;
$list-paddings-tablet-values: 0, 1, 2;
$list-margins-tablet-values: 0, 1, 2;
$list-paddings-mobile-values: 0, 1, 2;
$list-margins-mobile-values: 0, 1, 2;
$list-icon-pixels: 25;
$list-paddings-values: 0, 1, 2;
$list-margins-values: 0, 1, 2;
@mixin breakpoint($point) {
  @if $point == $breakpoint-large {
    @media (max-width: 1500px) {
      @content;
    }
  } @else if $point == $breakpoint-medium-landscape {
    @media (max-width: 1100px) {
      @content;
    }
  } @else if $point == $breakpoint-medium {
    @media (max-width: 910px) {
      @content;
    }
  } @else if $point == $breakpoint-small {
    @media (max-width: 680px) {
      @content;
    }
  } @else if $point == $breakpoint-tiny {
    @media (max-width: 450px) {
      @content;
    }
  }
}

@import "~design-system/_sass/reusable-components/design-system-config";
@import "~design-system/_sass/reusable-components/design-system-reset";
@import "~design-system/_sass/design-system-website/webfonts-hx";
@import "~design-system/_sass/reusable-components/design-system-colors";
@import "~design-system/_sass/reusable-components/design-system-util-typo-fix";
@import "~design-system/_sass/reusable-components/design-system-links-icons";
@import "~design-system/_sass/reusable-components/design-system-layout-modules";
// @import "~design-system/_sass/reusable-components/design-system-forms";
@import "~design-system/_sass/reusable-components/design-system-responsive";
// @import "your_project_responsive_layout";
@import "~design-system/_sass/reusable-components/design-system-print";
@import "~design-system/_sass/reusable-components/design-system-viewport-fix";
@import "~design-system/_sass/reusable-components/design-system-reduced-motion";
@import "../components/WelcomeProton/WelcomeProton.scss";
@import '../components/ProtonProducts/ProtonProducts.scss';
@import '../components/AboutProton/AboutProton.scss';

body {
  margin: 0;
  background-color: $white;
}
.MainDiv {
  height: 768px;
  background-color: $white;
  @include breakpoint($breakpoint-small) {
  }
}
.SelectProduct {
  right: 33px;
  top: 358px;
  position: absolute;
  opacity: 1;
  @include breakpoint($breakpoint-small) {
    top: 882px;
    right: 4%;
    width: 10px;
    // height: 10px;
  }
}
.SelectRadioButton {
  cursor: pointer;
}
