body {
    // tiny trick to avoid managing overflow :)
    background-image: linear-gradient(to right, #{$pm-global-grey} 0%, #{$pm-global-grey} 50%, $white 50% , $white 100%);
}

$input-size: 1rem !default;
.select-product {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    
    @include respond-to($breakpoint-small) {
        top: calc(100vh + 10px);
        transform: none;
        right: 10px;
    }

}
label,
input[type='radio'] {
    cursor: pointer;
}
input[type='radio'] {
    width: $input-size;
    height: $input-size;
    margin-bottom: $input-size/2;
}