.welcomeProton {
    height: 768px;
    position: relative;
    @include breakpoint($breakpoint-small) {

        height: 870px;
    }
}
.welcomeProton-title {
    font: normal normal bold 59px/57px Arial;
    color: $white;
    margin-top: 102px;
    padding-right: 10%;
    padding-left: 20%;
    @include breakpoint($breakpoint-medium-landscape) {
        padding-right: 5%;
        padding-left: 6%;
    }
    @include breakpoint($breakpoint-small) {
        margin-top: 222px;
        padding-right: 5%;
        padding-left: 10%;
    }
}
.welcomeProton-description {
    color: $white;
    padding-right: 258px;
    padding-left: 139px;
    @include breakpoint($breakpoint-medium-landscape) {
        padding-right: 5%;
        padding-left: 6%;
    }
    @include breakpoint($breakpoint-small) {
        top: 401px;
        left: 40px;
        padding: 0;
        width: 286px;
        height: 46px;
        position: absolute;
    }
}
.welcomeProton-text {
    text-align: left;
    font: normal normal bold $base-font Arial;
    color: $white;
    opacity: 1;
    padding-right: 106px;
    padding-left: 139px;
    @include breakpoint($breakpoint-medium-landscape) {
        padding-right: 5%;
        padding-left: 4%;
    }
    @include breakpoint($breakpoint-small) {
        top: 503px;
        left: 6%;
        position: absolute;
    }
}
.ArrowLeft {
    border: 2px solid $white;
    opacity: 1;
    width: 82px;
    height: 0px;
    top: 488px;
    left: 139px;
    position: absolute;
    @include breakpoint($breakpoint-small) {
        top: 717px;
        left: 48px;
        width: 0px;
        height: 113px;
    }
}
.arrow {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-top: 3px solid $white;
    border-right: 3px solid $white;
    position: absolute;
    top: 482px;
    left: 208px;
    @include breakpoint($breakpoint-small) {
        display: inline-block;
        border-top: 3px solid $white;
        border-right: 3px solid $white;
        position: absolute;
        top: 816px;
        left: 43px;
        opacity: 1;
        width: 15px;
        height: 15px;
    }
}
.arrow-right {
    transform: rotate(45deg);
    @include breakpoint($breakpoint-small) {
        transform: rotate(135deg);
    }
}

.IconFb {
    top: 681px;
    left: 139px;
    width: 14px;
    height: 27px;
    opacity: 1;
    position: absolute;
    @include breakpoint($breakpoint-medium-landscape) {
        left: 6%;
    }
    @include breakpoint($breakpoint-small) {
        top: 40px;
        left: 41px;
        width: 12px;
        height: 23px;
    }
}
.IconTw {
    top: 684px;
    left: 186px;
    width: 27px;
    height: 22px;
    position: absolute;
    @include breakpoint($breakpoint-medium-landscape) {
        left: 12%;
    }
    @include breakpoint($breakpoint-small) {
        top: 42px;
        left: 82px;
        width: 23px;
        height: 19px;
        position: absolute;
    }
}
.IconIg {
    top: 683px;
    left: 302px;
    width: 23px;
    height: 23px;
    position: absolute;
    @include breakpoint($breakpoint-medium-landscape) {
        left: 24%;
    }
    @include breakpoint($breakpoint-small) {
        top: 41px;
        left: 133px;
        width: 22px;
        height: 20px;
    }
}
.IconMd {
    top: 683px;
    left: 358px;
    width: 22px;
    height: 23px;
    position: absolute;
    @include breakpoint($breakpoint-medium-landscape) {
        left: 35%;
    }
    @include breakpoint($breakpoint-small) {
        top: 41px;
        left: 183px;
        width: 20px;
        height: 20px;
    }
}
.IconRd {
    top: 683px;
    left: 245px;
    width: 25px;
    height: 23px;
    position: absolute;
    @include breakpoint($breakpoint-medium-landscape) {
        left: 47%;
    }
    @include breakpoint($breakpoint-small) {
        top: 41px;
        left: 232px;
        width: 19px;
        height: 20px;
    }
}
