.welcomeProton {
    height: 768px;
    position: relative;
    @include respond-to($breakpoint-small) {
        height: 870px;
    }
}
.welcomeProton-title {
    font: normal normal bold 59px/57px Arial;
    color: $white;
    margin-top: 102px;
    padding-right: 10%;
    padding-left: 139px;
    @include respond-to($breakpoint-medium-landscape) {
        padding-right: 5%;
        padding-left: 5%;
    }
    @include respond-to($breakpoint-small) {
        margin-top: 222px;
    }
}
.welcomeProton-description {
    color: $white;
    padding-right: 258px;
    padding-left: 139px;
    @include respond-to($breakpoint-medium-landscape) {
        padding-right: 5%;
        padding-left: 5%;
    }
}
.welcomeProton-text {
    text-align: left;
    color: $white;
    padding-right: 106px;
    padding-left: 139px;
    @include respond-to($breakpoint-medium-landscape) {
        padding-right: 5%;
        padding-left: 5%;
    }
}
.arrow-right-custom {
    padding-left: 139px;
    @include respond-to($breakpoint-medium-landscape) {
        padding-left: 5%;
    }
    @include respond-to($breakpoint-small) {
        transform: rotate(90deg);
        position: absolute;
        bottom: 40px;
    }
}
.welcome-icons {
    padding-left: 139px;
    bottom: 10%;
    @include respond-to($breakpoint-medium-landscape) {
        padding-left: 5%;
    }
    @include respond-to($breakpoint-small) {
        top: 5%;
    }
}
.IconFb {
    width: 14px;
    height: 27px;
}
.IconTw {
    width: 27px;
    height: 22px;
}
.IconIg {
    width: 23px;
    height: 23px;
}
.IconMd {
    width: 22px;
    height: 23px;
}
.IconRd {
    width: 25px;
    height: 23px;
}
