.AboutProton {
    @include breakpoint($breakpoint-small) {
        flex-direction: column;
    }
}
.About {
    width: 50%;
    height: 768px;
    @include breakpoint($breakpoint-small) {
        width: 100%;
    }
}
.AboutContent {
    @include breakpoint($breakpoint-medium-landscape) {
        width: 80%;
    }
    @include breakpoint($breakpoint-small) {
        position: absolute;
        bottom: 3%;
        left: 3%;
        width: 90%;
    }
}

.AboutTitle {
    margin-bottom: 10%;
    font: normal normal bold 59px/57px Arial;
}
.AboutIcons {
    @include breakpoint($breakpoint-medium-landscape) {
        width: 70%;
    }
    @include breakpoint($breakpoint-small) {
        width: 50%;
    }
}
.AboutIconFb {
    width: 14px;
    height: 27px;
}
.AboutIconTw {
    width: 27px;
    height: 22px;
}
.AboutIconIg {
    width: 25px;
    height: 23px;
}
.AboutIconMd {
    width: 23px;
    height: 23px;
}
.AboutIconRd {
    width: 22px;
    height: 23px;
}
.AboutPicture {
    height: 768px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
