.protonProducts {
    height: 626px;
    opacity: 1;
    @include breakpoint($breakpoint-small) {
        height: 651px;
    }
}
.protonProducts-logo {
    top: 113px;
    width: 269px;
    height: 40px;
    left: 0;
    right: 0;
    position: absolute;
    @include breakpoint($breakpoint-small) {
        top: 145px;
    }
}
.protonProducts-text {
    top: 190px;
    left: 0;
    right: 0;
    width: 340px;
    height: 46px;
    text-align: center;
    font: normal normal normal 19px/25px Arial;
    color: $white;
    position: absolute;
    @include breakpoint($breakpoint-small) {
        top: 258px;
    }
}
.protonProducts-button {
    top: 290px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    width: 208px;
    height: 57px;
    border: 2px solid $white;
    opacity: 1;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $white;
    font: normal normal normal 19px/25px Arial;
    cursor: pointer;
    @include breakpoint($breakpoint-small) {
        top: 376px;
    }
}
.protonProducts-picture {
    top: 416px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    width: 510px;
    height: 299px;
    position: absolute;
    @include breakpoint($breakpoint-small) {
        top: 505px;
        width: 374px;
        height: 219px;
    }
    @include breakpoint($breakpoint-medium-landscape) {
        top: 505px;
        width: 374px;
        height: 219px;
    }
    @include breakpoint($breakpoint-medium) {
        top: 505px;
        width: 320px;
        height: 219px;
        margin-bottom: 146px;
    }
}
