.ProtonProducts {
    height: 626px;
    background: var(--unnamed-color-657ee4) 0% 0% no-repeat padding-box;
    background: 0% 0% no-repeat padding-box;
    opacity: 1;
    @include breakpoint($breakpoint-small) {
        // top: 0px;
        height: 651px;
    }
}
.ProtonMailLogo {
    top: 113px;
    width: 269px;
    height: 40px;
    left: 0;
    right: 0;
    opacity: 1;
    position: absolute;
    @include breakpoint($breakpoint-small) {
        top: 145px;
    }
}
.ProtonMailText {
    top: 190px;
    left: 0;
    right: 0;
    width: 340px;
    height: 46px;
    color: var(--unnamed-color-ffffff);
    text-align: center;
    font: normal normal normal 19px/25px Arial;
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 1;
    position: absolute;
    @include breakpoint($breakpoint-small) {
        top: 258px;
    }
}
.ProtonMailButton {
    top: 290px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    width: 208px;
    height: 57px;
    border: 2px solid var(--unnamed-color-ffffff);
    border: 2px solid #ffffff;
    opacity: 1;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font: normal normal normal 19px/25px Arial;
    cursor: pointer;
    @include breakpoint($breakpoint-small) {
        top: 376px;
    }
}
.ProtonMailPic {
    top: 416px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    width: 510px;
    height: 299px;
    background: transparent 0% 0% no-repeat padding-box;
    opacity: 1;
    position: absolute;
    @include breakpoint($breakpoint-small) {
        top: 505px;
        width: 374px;
        height: 219px;
    }
    @include breakpoint($breakpoint-medium-landscape) {
        top: 505px;
        width: 374px;
        height: 219px;
    }
    @include breakpoint($breakpoint-medium) {
        top: 505px;
        width: 320px;
        height: 219px;
        margin-bottom: 146px;
    }
}
